.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  box-sizing: border-box;
  background-size: cover;

}
